/* .inputField{
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
   height: 34px;
}
.loginForm
{
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 355px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
} */